<?xml version="1.0" encoding="UTF-8"?>
<setting>
    <environment>
        <debug>1</debug>
    </environment>
    <domains>
        <!-- 默认的静态文件域名地址 -->
        <static name="Default">static.example.php.com</static>
        <!-- App列表 -->
        <app name="Example">
            <host>example.php.com</host>
            <host>example_other.php.com</host>
            <!-- 设置App独有的静态文件域名地址 -->
            <static>static.example.php.com</static>
        </app>
    </domains>
    <database>
    </database>
</setting>